services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: op-succinct
      POSTGRES_DB: op-succinct
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:RELEASE.2023-10-25T06-33-25Z
    container_name: minio
    ports:
      - "9100:9000" # MinIO API port
      - "9101:9001" # MinIO Console (UI) port
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 5s

  minio_setup:
    image: minio/mc
    container_name: minio_setup
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_SERVER_URL: http://minio:9000
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BUCKET_NAME: test-bucket
    entrypoint: /bin/sh -c "/minio_setup.sh"
    volumes:
      - ./minio_setup.sh:/minio_setup.sh:ro

  nats:
    image: nats:latest
    command: -js -DV -c /etc/nats/nats-server.conf
    ports:
      - "4223:4222"
      - "8223:8222"
    volumes:
      - ./nats-server.conf:/etc/nats/nats-server.conf
    healthcheck:
      test: [ "CMD", "nats-server", "--health" ]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres-data:
  minio_data:
